# -------------------- NOTES -------------------------#

In [6]:
import pandas as pd 
import numpy as np 
np.random.seed(123)

# Create list of values for names column.

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

# Construct the DataFrame using the above lists and arrays.

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

array([62, 88, 94, 98, 77, 79, 82, 93, 92, 69, 92, 92])

In [9]:
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}) #from dictionary
pd.DataFrame([[1, 2, 3], [4, 5, 6]]) #from 2D array

array = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(array, columns=['a', 'b', 'c']) #from 2D array with specified names

   a  b  c
0  1  2  3
1  4  5  6