# Lecture Notes #

pandas: build off of numpy, but does different things
 - pd.Series() : can be arithmetic, comparison, string
    - must have the same datatype
 - pd.df(): dataframes
methods change the data, attributes describe the data
Series: 0indexes, rows

In [25]:
a = np.array([1,1.5,5,7,8,9,5])

In [12]:
import numpy as np
import pandas as pd

In [26]:
a = pd.Series(a)

In [28]:
a.describe()

count    7.000000
mean     5.214286
std      3.080275
min      1.000000
25%      3.250000
50%      5.000000
75%      7.500000
max      9.000000
dtype: float64

In [22]:
a[a<5]

0    1.0
1    1.5
dtype: float64

In [27]:
a.value_counts()

5.0    2
1.0    1
1.5    1
7.0    1
8.0    1
9.0    1
Name: count, dtype: int64

In [29]:
a.count()

7

In [31]:
a[a<7].count()

4

In [ ]:
a.apply(minus, args = [10])

# ------------------- NOTES --------------------- #

From a list, array, dictionary:

    - myseries = pd.Series(<list or array or dictionary>)

From existing dataframe:

    - myseries = df['col_for_series']
    - myseries = df.col_for_series

Pandas will infer datatypes
 - You can change datatypes upon creating the series pd.Series(mylist).astype('int') or later using "astype(x)" where x can be 'float', 'int', 'str', e.g. myseries.astype('str')
 
astype('str') will show the series dtype = object.

In [ ]:
# ------------- from a list ----------------------#

In [32]:
from pydataset import data

initiated datasets repo at: /Users/kelseyyu/.pydataset/

In [52]:
my_list = [2.2, 3.56, 5.89]
my_series = pd.Series(my_list)
type(my_series)

pandas.core.series.Series

In [51]:
my_series = my_series[my_series!=5]
my_series

0    2
1    3
dtype: int64

In [53]:
my_series.astype('int')

0    2
1    3
2    5
dtype: int64

In [ ]:
# ------------------ from an array ----------------------- #

In [37]:
my_array = np.array([8.0, 13.0, 21.0])

# create series from array
my_series = pd.Series(my_array)

type(my_series)

pandas.core.series.Series

In [ ]:
# ------------------- from a dictionary --------------------- #

In [38]:
labeled_series = pd.Series({'a' : 0, 'b' : 1.5, 'c' : 2, 'd': 3.5, 'e': 4, 'f': 5.5})
labeled_series

a    0.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [ ]:
# ---------------- from a dataframe -------------------- #

In [39]:
sleep_df = data('sleepstudy')
sleep_df.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

In [45]:
sleep_series = sleep_df['Reaction']
sleep_series

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [44]:
my_dataframe_that_resembles_a_series = sleep_df[['Reaction']]
my_dataframe_that_resembles_a_series

     Reaction
1    249.5600
2    258.7047
3    250.8006
4    321.4398
5    356.8519
..        ...
176  329.6076
177  334.4818
178  343.2199
179  369.1417
180  364.1236

[180 rows x 1 columns]

In [ ]:
# -------------- Vectorized Operations --------------- #

In [55]:
fibi_series = pd.Series([0, 1, 1, 2, 3, 5, 8])
fibi_series + 1

0    1
1    2
2    2
3    3
4    4
5    6
6    9
dtype: int64

In [56]:
fibi_series.index

RangeIndex(start=0, stop=7, step=1)

In [57]:
fibi_series.values # The values are stored in a NumPy array. Hello vectorized operations!

array([0, 1, 1, 2, 3, 5, 8])

In [58]:
fibi_series.dtype

dtype('int64')

In [62]:
fibi_series.name = 'Fibonacci'

In [60]:
fibi_series.size #returns how many rows, including null values

7

In [61]:
fibi_series.shape #returns rows AND columns. (7, ) means this is a 1D structure

(7,)

In [ ]:
# ---------------- series method ----------------- #

In [63]:
fibi_series.head() #returns first 5 rows

0    0
1    1
2    1
3    2
4    3
Name: Fibonacci, dtype: int64

In [64]:
fibi_series.tail() #returns last 5 rows

2    1
3    2
4    3
5    5
6    8
Name: Fibonacci, dtype: int64

In [83]:
sleep_df = data('sleepstudy')
sleep_days_series = sleep_df.Days
sleep_days_series.sample(5)

count    180.000000
mean       4.500000
std        2.880293
min        0.000000
25%        2.000000
50%        4.500000
75%        7.000000
max        9.000000
Name: Days, dtype: float64

In [80]:
sleep_days_series.value_counts()

Days
0    18
1    18
2    18
3    18
4    18
5    18
6    18
7    18
8    18
9    18
Name: count, dtype: int64

In [84]:
sleep_days_series.describe()

count    180.000000
mean       4.500000
std        2.880293
min        0.000000
25%        2.000000
50%        4.500000
75%        7.000000
max        9.000000
Name: Days, dtype: float64

In [87]:
fibi_series.nlargest(n=3, keep='first') #the 'keep='parameter determines how to handle the duplicate
#first: only keep the first occurence
#last: only keep the last occurence
#all: keep all duplicates

6    8
5    5
4    3
Name: Fibonacci, dtype: int64

In [91]:
sleep_days_series.sort_values(ascending=True)# ascending = True is default and doesn't need to be included.

<bound method Series.sort_values of 1      0
2      1
3      2
4      3
5      4
      ..
176    5
177    6
178    7
179    8
180    9
Name: Days, Length: 180, dtype: int64>

In [92]:
sleep_days_series.sort_index(ascending=False)

180    9
179    8
178    7
177    6
176    5
      ..
5      4
4      3
3      2
2      1
1      0
Name: Days, Length: 180, dtype: int64

#  ---------------------------- EXCERCISES PART I ------------------------------ #

In [94]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [95]:
# 1.Determine the number of elements in fruits.
fruits.count()

17

In [97]:
# 2.Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [98]:
# 3. Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [99]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [102]:
# 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits.head()
fruits.tail(3)
fruits.sample(2)

9      kiwi
6    tomato
dtype: object

In [103]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [105]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [111]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: count, dtype: int64

In [110]:
# 9. Determine the string value that occurs most frequently in fruits.
fruits.value_counts().sort_values (ascending = False)

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: count, dtype: int64

In [112]:
# 10. Determine the string value that occurs least frequently in fruits.
fruits.value_counts().sort_values (ascending = True)

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
mango               2
kiwi                4
Name: count, dtype: int64

# -------------------------- NOTES: SERIES PART II ------------------------